.paper {
  margin: 2%;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 96%;
  overflow: auto;
}

.header {
  border-bottom: 0.5px solid rgb(163, 158, 158);
}

.time-complexity {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  overflow: auto;
}

.custom-button {
  margin-top: 2%;
}

.console{
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
  height: 52%;
  width: 100%;
  padding: 2%;
  font-family: monospace;
  overflow: auto;
}

.terminal-header{
  background-color:#5D666D;
  color: white;
  font-size: larger;
  padding-left: 1%;
  padding-bottom: 0.8%;
  width: 100%;
  margin-top: 2%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
 .terminal-img{
  width: 3%;
 }

 .stats{
  padding: 2%;
  border-radius: 10px;
  width: 100%;
  background-color: rgb(240, 240, 240);
  margin-bottom: 2%;
  display: flex;
  justify-content: left;
  align-items: center;
 }

 .complexity-icons{
  width: 2%;
 }

